$card-bg-color: #1B1B1B;
$text-main-color: #838383;
$icon-fork-color: #009dff;
$icon-star-color: #ffff00cc;
$white-color: rgb(255, 255, 255);
$white-secondary-color: rgba(255, 255, 255, 0.3);
$white-third-color: #D6D6D6;
$card-cancel-color: #00BFFF;
