@import '../../styles/global';
@import '../../styles/shared';

.repo-item {
    width: 100%;
    height: 100px;

    @include repo-card-style;


    @media (min-width: $mobile-large) {
        height: 110px;
        padding: 14px;
    }

    @media (min-width: $tablet) {
        height: 120px;
        padding: $double-space;
    }

    a {
        outline: none;
        text-decoration: none;

        .content, .header {
            height: auto;
        }

        .header {
            display: flex;
            align-items: center;
            margin-bottom: 5px;

            .updated {
                font-size: 9px;
                @include repo-updated-label;

                @media (min-width: $tablet) {
                    font-size: 11px;
                }
            }

            & > div {
                display: flex;
                align-items: center;
                margin-right: ($triple-space / 2);

                & > * {
                    color: var(--color-card-title-text);
                    transition: $color-transition;
                }

                i {
                    font-size: 11px;
                    margin-right: 6px;
                    box-sizing: border-box;
                    border-radius: 20px;
                    width: auto;
                }

                &:nth-of-type(1) {
                    i {
                        color: $icon-fork-color;
                    }
                }

                &:nth-of-type(2) {
                    i {
                        color: var(--color-card-star-icon);
                    }
                }

                span {
                    font-size: 9px;

                    @media (min-width: $mobile-large) {
                        font-size: 11px;
                    }

                    @media (min-width: $tablet) {
                        font-size: 12px;
                    }
                }
            }
        }

        .content {
            display: flex;
            align-items: center;
            overflow: hidden;

            .name {
                display: flex;
                flex-direction: column;

                .repo-name {
                    display: flex;
                    align-items: center;
                    height: 100%;
                    font-size: 12px;
                    margin: ($space / 2) 0;

                    @include repo-name-style;

                    @media (min-width: $mobile-large) {
                        font-size: 16px;
                    }

                    @media (min-width: $tablet) {
                        font-size: 24px;
                    }
                }

                .description {
                    font-size: 10px;
                    color: var(--color-card-repo-desc);
                    transition: $color-transition;
                    text-align: left;

                    @media (min-width: $mobile-large) {
                        font-size: 12px;
                    }

                    @media (min-width: $tablet) {
                        font-size: 16px;
                    }
                }
            }

            .owner {
                @include repo-owner-style;

                .name {
                    font-size: 9px;

                    @media (min-width: $tablet) {
                        font-size: 13px;
                        margin-right: $double-space;
                    }
                }
            }
        }
    }
}
